@model IEnumerable<ManagerHR.Models.empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<br />
<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salario)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.cargo.cargo1)
        </th>
        <th>
            <p>Departamento</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salario)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.cargo.cargo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.departamento.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
